PORT=8080
SCAN_DB_PATH=./data/scan.db
NOTIFICATION_SERVICE_URL=http://notification:8080
SCAN_NETWORK_TIMEOUT=5s
SCAN_JOB_TIMEOUT=20s
NOTIFICATION_TIMEOUT=3s
CERT_EXPIRY_THRESHOLD=720h
SCAN_WORKERS=2
SCAN_QUEUE_DEPTH=64
